@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

#skills button {
    background-color: rgba(140, 140, 248, 0.7);
    display: flex;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

#contacto button {
    background-color: rgba(140, 140, 248, 0.7);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    margin: 0px 10px;
}

.image img{
    width: 65%;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 40px rgb(0, 0, 0);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    display: flex;
    align-items: center;
    z-index: 1000;
    background-color: rgba(24, 24, 27, 0.7);
    color: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12rem;
}

.link a{
    position: relative;
    text-decoration: none;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #aeb1bb;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    padding-top: 125px;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #7291e6;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.projects {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.projects .card {
    position: relative;
    padding: 12rem 2rem;
    border: 2px solid transparent;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}


.projects .card::before {
    content: '';
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: filter 0.3s ease;
}

#card1::before {
    background-image: url('./imgs/salud_mental.webp');
}

#card2::before {
    background-image: url('./imgs/interrogacion.webp');
}

#card3::before {
    background-image: url('./imgs/interrogacion.webp');
}

#card4::before {
    background-image: url('./imgs/interrogacion.webp');
}


.projects .card:hover::before {
    filter: blur(5px);
}

.projects .card .contenido {
    position: absolute;
    inset: 0;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.projects .card:hover .contenido {
    opacity: 1;
}

.projects .card h4 {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.projects .card p {
    color: #ccc;
    font-size: 12px;
    margin-left: 1rem;
}


#contacto img{
    width: 5%;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin: 0px 10px;
}

#contacto img:hover{
    box-shadow: 0 0 40px rgb(255, 255, 255);
}

footer {
    color: #ccc;
    background-color: rgba(24, 24, 27, 0.7);
    display: flex;
    gap: 10rem;
    align-items: center;
    padding: 5rem;
    width: 100%;
    justify-content: center;
}

footer .column {
    display: flex;
    align-items: center;
}

footer a{
    color: #ccc;
    transition: all 0.3s ease;
    text-decoration: none;
}

footer a:hover{
    color: #90a7f5;
}

#particles-js canvas
{
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js 
{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

@media (width < 900px){
    nav {
        display: none;
    }

    header{
        grid-template-columns: repeat(1, 1fr);
    }

    header .image{
        grid-area: 1/1/2/2;
    }

    .projects{
        grid-template-columns: repeat(2, 1fr);
    }

    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px){
    header .image::before{
        display: none;
    }

    .projects{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        grid-template-columns: 1fr 150px;
    }
}
